/* --------------- DriftThumb ---------------- */
.drift-thumb {
  display: flex;
  align-items: center;
  background-color: var(--light);
  padding: 10px var(--space-one);
  margin-bottom: calc(var(--space-one) * 1.2);
  border: 2px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
  cursor: pointer;
  background: whitesmoke;
}
.drift-thumb:last-child {
  margin-bottom: 6px;
}
.drift-thumb-list li {
  list-style: none;
  font-size: var(--md);
  line-height: 1.8em;
}
.drift-thumb-list span{
  color: crimson;
}
.drift-thumb-arrow {
  margin-left: auto;
}
/* ------------------------------------------ */
.drift-empty {
  font-size: var(--md);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2.4em;
}