.list-container {
  padding: 0 var(--padding-one);
}
.list-title {
  display: flex;
  align-items: center;
  height: 60px;
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  width: var(--btn-height);
  position: absolute;
  right: var(--padding-one);
  bottom: 12vh;
  border-radius: calc(var(--btn-height) * 0.5);
  background-color: var(--my-black);
}

.drift-cover {
  display: flex;
  align-items: center;
  background-color: var(--my-white);
  padding: 15px 20px;
  margin-bottom: 30px;
  border: 4px solid var(--my-black);
  box-shadow: 7px 7px 0 var(--my-black);
}
.cover-list li {
  list-style: none;
  font-size: 1.2em;
  line-height: 1.8em;
}
.cover-arrow {
  margin-left: auto;
}
