.menu-container {
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: var(--pink);
  overflow: hidden;
  z-index: 3;
}
.menu {
  /* width: 520px;
  height: calc(100vh - 90px); */
  width: 100%;
  height: 100%;
}
.menu-item {
  display: flex;
  height: calc(var(--hdr-h) * 0.7);
  align-items: center;
  padding: var(--space-one);
  font-size: var(--md);
  cursor: pointer;
}
.menu-item.title {
  height: var(--hdr-h);
}
.menu-item.ref {
  height: calc(var(--hdr-h) * 0.6);
}
.menu-item.ref a {
  display: flex;
  align-items: center;
}
/* MENU ICONS */
.menu .icon-right {
  display: flex;
  margin-left: auto;
}
.menu .icon-left {
  display: flex;
  width: auto;
}
.menu .icon-right svg,
.menu .icon-left svg {
  stroke-width: 1.5px;
  width: 28px;
  height: 28px;
}
.menu .icon-left svg {
  margin-right: 20px;
}
/* MENU CONTENT */
.menu-content {
  padding: 0 calc(var(--space-one) * 1.6);
  height: calc(100% - var(--hdr-h));
  overflow: auto;
  font-family: inherit;
  font-weight: bold;
  font-size: var(--sm);
}


/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}