.menu-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffffd3;
  z-index: 2;
}
.menu-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--pink);
  overflow: hidden;
  z-index: 3;
  border: 4px solid var(--dark);
  box-shadow: 7px 7px 0 var(--dark);
}
.menu {
  width: 70vh;
  height: 80vh;
}

.menu .sub-btn svg {
  color: var(--dark);
}
.menu-item {
  display: flex;
  height: var(--hdr-h);
  align-items: center;
  padding: var(--space-one);
  font-size: var(--md);
}
.menu .icon-right {
  display: flex;
  margin-left: auto;
}
.menu .icon-left {
  display: flex;
  width: auto;
}
.menu .icon-right svg,
.menu .icon-left svg {
  stroke-width: 1px;
  width: 30px;
  height: 30px;
}
.menu .icon-left svg {
  margin-right: 20px;
}

.menu-item.ref {
  height: calc(var(--hdr-h) * 0.7);
}
.menu-item.ref a {
  display: flex;
  align-items: center;
}

.menu-content {
  padding: 0 calc(var(--space-one) * 1.6);
  height: calc(100% - var(--hdr-h));
  overflow: auto;
  font-family: inherit;
  font-weight: bold;
  font-size: var(--sm);
}


/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}