/* ------------------------------------------ */
.steps-list {
  height: calc(100% - var(--btn-h) - var(--space-one) * 2);
  overflow-y: auto;
  margin-bottom: var(--space-one);
  padding: 0 var(--space-one);
}
/* --------------- StepThumb ---------------- */
.step-thumb {
  display: flex;
  align-items: center;
  height: 40px;
  font-family: var(--second-font);
  font-weight: bold;
}
.step-thumb-item {
  font-size: var(--sm);
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}
.step-thumb-item:first-child {
  color: crimson;
}
.step-thumb-item:nth-child(2) {
  padding-left: 0.6em;
}
.step-thumb-arrow {
  /* margin-left: auto; */
  display: flex;
}
.step-thumb-arrow.deactive {
  pointer-events: none;
  opacity: 0.3;
}
/* ------------------------------------------ */
.btn-big.proceed-btn {
  float: right;
  width: calc(100% - var(--btn-h) - var(--space-one));
}
.btn-big.delete-btn {
  float: left;
  width: var(--btn-h);
}
.btn-big.delete-btn:hover {
  background-color: crimson;
  border: 3px solid rgb(167, 21, 50);
}