.start {
  padding: 0 var(--padding-one);
}
.input {
  display: block;
  height: 60vh;
  width: 100%;
  margin-bottom: var(--padding-one);
  border: 2px solid #BEBEBE;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  font-size: 0.9em;
  font-family: 'Consolas', monospace;
  line-height: 1.6em;
}
.input:focus {
  outline: none;
  border: 2px solid var(--my-pink);
}
.lost-btn {
  width: 100%;
  border-radius: calc(var(--btn-height) * 0.5);
  background-color: var(--my-black);
  color: var(--my-white);
}