/* ------------------------------------------ */
.step-directions {
  text-align: center;
}
.step-item {
  font-size: var(--lg);
  margin-bottom: var(--space-one);
  line-height: 1.4em;
}
/* ------------------------------------------ */
.step-recorder {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-one);
}
.recorder-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  --ht: calc(var(--btn-h) * 1.2);
  width: var(--ht);
  height: var(--ht);
  border-radius: calc(var(--ht) * 0.5);
  border: 2px solid var(--dark);
  cursor: pointer;
}
/* ------------------------------------------ */
.record-thumb {
  display: flex;
  align-items: center;
}
.audio-player {
  width: calc(100% - 60px);
  width: 100%;
}
.audio-player:focus {
  outline: none;
}
.audio-player::-webkit-media-controls-panel {
  background-color: var(--light);
}
.record-thumb-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  min-height: 40px;
  min-width: 40px;
}
.no-records {
  font-family: var(--code-font);
  font-weight: bold;
  font-size: var(--sm);
}