:root {
  --main-font: 'Lekton', 'Trebuchet MS', sans-serif;
  --pink:rgb(204, 145, 185);
  --light: rgb(216, 218, 220);
  --dark: rgb(42, 39, 38);
  --blue: rgb(141, 182, 193);
  --hdr-h: 90px;
  --btn-h: 90px;
  --space-one: 20px;
  --lg: 1.8rem;
  --md: 1.4rem;
  --sm: 1.2rem;
  --speed: 500ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  font-weight: 700;
  background-color: var(--blue);
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
a:focus, button:focus {
  outline: 1px solid #cacaca;
}
button[disabled] {
  pointer-events: none;
  border: 0;
  color: #9c9c9c;
  background: #f0f0f0;
}

.btn-big {
  cursor: pointer;
  border: none;
  height: var(--btn-h);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-size: var(--lg);
  font-weight: bold;
}