:root {
  --main-font: 'Jost', 'Trebuchet MS', 'Helvetica',sans-serif;
  --code-font: 'Lekton', 'Consolas', 'Menlo', monospace;
  --serif-font: 'Bitter', serif;
  --pink: rgb(192, 104, 164);
  --pink-dark: rgb(167, 67, 135);
  --light: rgb(243, 241, 241);
  --dark: rgb(34, 31, 31);
  --blue: rgb(141, 182, 193);
  --speed: 500ms;
  --hdr-h: 60px;
  --btn-h: 50px;
  --space-one: 15px;
  --lg: 1.3rem;
  --md: 1.0rem;
  --sm: 0.85rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --dark-gray: #1f1f1f;
  --light-gray: #353535;
  font-family: var(--main-font);
  background-image: linear-gradient(
    135deg, var(--light-gray) 7.14%,
    var(--dark-gray) 7.14%,
    var(--dark-gray) 50%, 
    var(--light-gray) 50%,
    var(--light-gray) 57.14%,
    var(--dark-gray) 57.14%,
    var(--dark-gray) 100%);
  background-size: 10px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
a:focus, button:focus {
  outline: 1px solid #cacaca;
}
button[disabled] {
  pointer-events: none;
  color: var(--light);
  background-color: #cacaca;
  border: 0;
}
button[disabled] > svg {
  fill:  #acacac
}
/* ------------------------------------------ */
.app-container {
  background-color: var(--light);
  /* height from App.js */
}
.main {
  height: calc(100% - var(--hdr-h));
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.body {
  height: calc(100% - var(--btn-h) - var(--space-one) * 2.2);
  overflow-y: auto;
  margin-bottom: var(--space-one);
  padding: 0 var(--space-one);
}
.buttons {
  height: var(--btn-h);
  padding: 0 var(--space-one);
}
/* ------------------------------------------ */
.btn-big {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 100%;
  height: var(--btn-h);
  border-radius: calc(var(--btn-h) * 0.5);
  font-family: var(--main-font);
  font-size: var(--lg);
  background-color: var(--dark);
  color: var(--light);
}
.btn-big:hover {
  background-color: var(--pink);
  border: 3px solid var(--pink-dark);
}
/* ===================== For Desktop =================== */
@media (min-width: 620px) {
  :root {
    --space-one: 20px;
    --hdr-h: 90px;
    --btn-h: 70px;
    --space-one: 20px;
    --lg: 1.6rem;
    --md: 1.2rem;
    --sm: 1.1rem;
  }
  .app-container {
    position: relative;
    width: 520px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;
    border: 5px solid var(--light);
    outline: 2px solid black;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #b3b3b3;
    border: 2px solid transparent;
  }
}

